# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store

# Python
# https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build
clicker.egg-info

# VSCode
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# PyCharm
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
.idea/
